<div class="tz-element">
    <div class="tz-title-filter full">
        <h3 class="tz-title">
            <span>Stock Quotes for {{snippet.options.city_name}}</span>
        </h3>
    </div>
    <div class="post-wrap-rating">

        <script src="https://www.xmware.com/cgi-bin/stockquotes.cgi?city={{snippet.options.city}}"></script>

    </div>
</div>
