{% set content = content_for_snippet(snippet.options.feed_id, snippet.options.post_limit) %}
{% set feed = category_data(snippet.options.feed_id) %}


<div class="tz-box-one ">
    <div class="row">
            <div class="tz-title-filter">
                <h3 class="tz-title">
                    <span>{{ snippet.options.header_string }}</span>
                </h3>
                <div class="tz-cat-filter">
                    <a href={{"/category/#{feed.id}"}} class="">View All</a>
                </div>
            </div>
        <div class="col-md-6 border-right">
            {% for article in content[0:3] %}
                {% include "layouts/_fp_post_layout_2.twig"  with {'article' : article} %}
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% include "layouts/_fp_post_layout_1.twig"  with {'article' : content[4]} %} 
        </div>
    </div>
</div>
