{% set content = content_for_snippet(snippet.options.feed_id, snippet.options.post_limit) %}
{% set feed = category_data(snippet.options.feed_id) %}


<div class="tz-box-one">
    <div class="tz-title-filter">
        <h3 class="tz-title">
            <span>{{ snippet.options.header_string }}</span>
        </h3>
        <div class="tz-cat-filter">
            <a href={{"/category/#{feed.id}"}} class="">View All</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
          {% include "layouts/_fp_post_layout_1.twig"  with {'article' : content[0]} %}  
        </div>
        <div class="col-md-6">
            {% for article in content[1:] %}
                {% include "layouts/_fp_post_layout_2.twig"  with {'article' : article} %}
            {% endfor %}
        </div>
    </div>

</div>
