<div class="our-story">
    {% for snippet in site_config.snippets.article %}
    {% include "#{snippet.filesystem_location}.twig" with {'snippet': snippet, 'article': article} %}
    {% endfor %}
</div>
