        <!--Start Breaking-->
        <div class="tz-breaking-news">
            <div class="container">
                <span class="breaking-title">BREAKING</span>
                <ul class="tz-breaking-content pull-left">
                    <li>
                        <p>FOX made the right call to suspend s: Satu Maaranen Collaborates With Petit Bateau on Capsule</p>
                    </li>
                    <li>
                        <p>NBC made the right call to suspend s: Satu Maaranen Collaborates With Petit Bateau on Capsule</p>
                    </li>
                    <li>
                        <p>NBC made the right call to suspend s: Satu Maaranen Collaborates With Petit Bateau on Capsule</p>
                    </li>
                    <li>
                        <p>NBC made the right call to suspend s: Satu Maaranen Collaborates With Petit Bateau on Capsule</p>
                    </li>
                </ul>
                <div class="pull-right tz-control-news">
                    <button class="tz-button-next breaking-prev">
                        <i class="fa fa-angle-left"></i>
                    </button>
                    <button class="tz-button-prev breaking-next">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--End Breaking-->